<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="index" id="sidebar">
<h1>Java</h1>
<ul>
    <li class="sub-heading">자바 소개</li>
    <li><a th:href="@{/java/features}">자바의 특징</a></li>
    <li><a th:href="@{#}">객체와 클래스</a></li>

    <li class="sub-heading">자바 기초</li>
    <li><a th:href="@{#}">키워드, 식별자, 주석</a></li>
    <li><a th:href="@{#}">데이터 타입과 타입 캐스팅</a></li>
    <li><a th:href="@{#}">배열</a></li>
    <li><a th:href="@{#}">연산자,if,루프,스위치 문</a></li>
    <li><a th:href="@{#}">패키지와 접근자</a></li>
    <li><a th:href="@{#}">상속</a></li>
    <li><a th:href="@{#}">static 키워드</a></li>
    <li><a th:href="@{#}">컬렉션</a></li>
    <li><a th:href="@{#}">예외</a></li>

    <li class="sub-heading">자바은행 예제</li>
    <li><a th:href="@{#}">요구사항 분석</a></li>
    <li><a th:href="@{#}">구현</a></li>
    <li><a th:href="@{#}">상속 적용</a></li>
    <li><a th:href="@{#}">추상 클래스 적용</a></li>
    <li><a th:href="@{#}">인터페이스 적용</a></li>

    <li class="sub-heading">자바 고급</li>
    <li><a th:href="@{#}">스레드</a></li>
    <li><a th:href="@{#}">스트림</a></li>
    <li><a th:href="@{#}">로깅</a></li>
    <li><a th:href="@{#}">소켓</a></li>
    <li><a th:href="@{#}">RMI</a></li>
</ul>
</div>
</body>
</html>