@CHARSET "UTF-8";
@media only screen {
	table {
		border-collapse: collapse;
	}
	img {
		border: 0;
	}
	form {
		margin: 0;
		padding: 0;
	}
	a:link {
		color: #2C80D0;
		text-decoration: none;
	}
	a:visited {
		color: #2C80D0;
		text-decoration: none;
	}
	a:active {
		color: #2C80D0;
		text-decoration: none;
	}
	a:hover {
		color: #2C80D0;
		text-decoration: underline;
	}
	#sidebar {
		display: none;
	}
	#extra {
		display: none;
	}
	#footer-ad {
		display: none;
	}
	.addthis_javaschool {
		display: none;
	}
	#i18n {
		clear: both;
		display: block;
		padding: 3px;
		text-align: right;
		font-size: 14px;
	}
	#main-menu {
		display: none;
	}
	#searchcontainer {
		margin: 0;
		padding: 0;
	}
	.cse .gsc-control-cse, .gsc-control-cse {
		margin: 0 !important;
		padding: 0 !important;
	}	
	#footer > ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
	}
	#footer > ul > li {
		margin: 0;
		padding: 0;
	}
	article {
		margin-top: 10px;
	}
	article table {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
	}
	article td {
		padding: 5px 6px 3px 6px;
		border: silver 1px solid;
	}
	article th {
		padding: 5px 6px 3px 6px;
		border: silver 1px solid;
		text-align: left;
		border: silver 1px solid;
	}
	article caption {
		margin: 0;
		padding: 0;
		font-weight: bold;
		text-align: left;
	}
	article > h1 {
		margin: 0;
		padding: 0;
		font-size: 1.45em;
	}
	article > h2 {
		margin-top: 15px;
		margin-bottom: 0;
		font-size: 1.2em;
	}
	article > h3 {
		margin-top: 10px;
		margin-bottom: 0;
		font-size: 1.1em;
	}
	article > h4 {
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 1em;
	}
	article > h5 {
		margin-top: 3px;
		margin-bottom: 0;
		font-size: 1em;
		color: #999;
	}
	article img {
		width: 100%;
	}
	article p {
		font-size: 0.93em;
	}
	h6 {
		margin: 0;
		padding: 0;
	}
	.src {
		margin: 0.7em 0 0 0;
		font-weight: normal;
		font-size: 0.9em;
	}
	.last-modified {
		font-size: 11px;
		font-family: tahoma, arial, sans-serif;
		font-style: italic;
		color: #7a7a7a;
	}
	#next-prev {
		margin-top: 10px;
		padding: 1em 1em 1em 0;
		border: silver 1px solid;
		background-color: #FAF9F4;
		line-height: 1.7;
		font-size: 0.85em;
	}
	#next-prev > ul {
		list-style-type: none;
		margin: 0 0 0 1em;
		padding: 0;
	}
	#next-prev > ul > li {
		padding: 0.2em 0 0.2em 0.5em;
		background: url('../images/circle.gif') no-repeat 0% 50%;
	}
	#refer {
		display: block;
		margin-top: 15px;
		padding-bottom: 3px;
		color: #236CAC;
		font-weight: bold;
		line-height: 1;
		border-bottom: 2px solid #236CAC;
	}
	#comments {
		display: block;
		margin-top: 15px;
		padding-bottom: 3px;
		color: #666;
		font-weight: bold;
		line-height: 1;
		border-bottom: 1px solid #999;
	}
	#references {
		margin-top: 5px;
		padding: 0;
		list-style-type: none;
	}
	#related-articles {
		display: block;
		margin-top: 15px;
		padding-bottom: 3px;
		color: #236CAC;
		font-weight: bold;
		line-height: 1;
		border-bottom: 2px solid #236CAC;
	}
	#related-articles-ul {
		margin-top: 5px;
		padding: 0;
		list-style-type: none;
	}
	.screen-header {
		padding-left: 5px;
		display: block;
		color: black;
		border-top: 2px solid silver;
		border-right: 2px solid silver;
		border-left: 2px solid silver;
		font-size: 0.9em;
	}
	.screen-header > b {
		background: #000;
		color: #FFF;
	}
	.screen {
		margin: 0;
		padding: 0.2em;
		color: #C0C0C0;
		border: 2px solid silver;
		background: #000;
		font-weight: bold;
	}
	.screen > b {
		color: red;
	}
	.shell-prompt {
		padding: 5px;
		color: #FFF;
		background-color: #300a24;
	}
	.note {
		margin: 0;
		padding: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 0.9em;
	}
	.note > dt {
		margin: 0;
		padding-top: 4px;
		padding-right: 3px;
		padding-left: 43px;
		padding-bottom: 3px;
		margin-bottom: 3px;
		color: #000;
		background: #efefef url('../images/ref.png') no-repeat center left;
	}
	.result {
		padding: 5px;
		border: 1px solid grey;
	}
	article > ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	article > ul > li {
		padding: 0.2em 0 0.2em 0.5em;
		background: url('../images/circle.gif') no-repeat 0% 50%;
		font-size: 0.9em;
		line-height: 1.4;
	}
	article > ol {
		margin: 0 0 0 15px;
		padding: 0;
	}	
	article > ol > li {
		padding: 0.2em 0 0.2em 0.5em;
		font-size: 0.9em;
		line-height: 1.4;
	}	
	.no-border {
		border: none !important;
		margin: 0.4em 0;
	}
	.api-summary {
		border: 1px solid #C8CDD2;
		padding-bottom: 5px;
		margin-bottom: 10px;
		font-size: 0.88em;
		line-height: 1.6;
	}
	.api-summary-dt {
		font-weight: bold;
		padding-left: 5px;
	}
	.api-summary-dd {
		color: #666;
		margin-left: 10px;
		font-style: normal;
		font-weight: bold;
	}
	.api-summary-dd-class-desc {
		font-style: normal;
		font-weight: normal;
		margin: 0;
		padding: 3px 5px 0 5px;
	}
	.bottom-line {
		border-bottom: 1px solid #C8CDD2;
	}
	.api-summary-dd-method-desc {
		font-style: normal;
		font-weight: normal;
		margin-left: 1.5em;
	}
	#java-school-ci {
		width: 117px;
		float: left;
	}
	#mobile-menu-converter {
		float: right;
		font-size: 13px;
		font-weight: bold;
		background-color: black;
	}
	#mobile-menu-converter > a:link, #mobile-menu-converter > a:visited {
		background-color: #f44336;
		color: white;
		padding: 12px 14px;
		text-align: center;
		text-decoration: none;
		display: block;
	}
	#mobile-menu-converter > a:hover, #mobile-menu-converter > a:active {
		background-color: red;	
	}
	#mobile-menu {
		clear: both;
		font-size: 16px;
		font-weight: bold;
		background-color: black;		
	}
	#mobile-menu > a:link, #mobile-menu > a:visited {
		background-color: #f44336;
		color: white;
		padding: 13px 25px;
		text-align: center;
		text-decoration: none;
		display: block;
	}
	#mobile-menu > a:hover, #mobile-menu > a:active {
		background-color: red;
	}
	.console {
		padding: 25px 0 0 0;
		font-weight: bold;
		line-height: 1.4;
		border: 1px solid #BED4F1;
		background: #BED4F1 url('../images/Console.png') no-repeat 0% 0%;
	}
	.console-result {
		padding: 7px;
		background-color: #FFF;
		display: block;
	}
	#footer {
		clear: both;
		font-size: 12px;
		color: #8d8d8d;
	}
}
@media only screen and (min-width: 768px) {
	#wrap {
		margin: 7px auto;
		padding: 0;
		width: 1000px;
	}
	#header {
		width: 100%;
	}
	#main-menu {
		display: block;
		clear: both;
		height: 35px;
		font-family: Verdana, sans-serif;
		font-weight: bold;
		font-size: 12px;
		background: #92B91C;
		border: 2px solid #DAEAAA;
	}
	#container {
		float: left;
		width: 100%;
		border-top: 1px solid #DAEAAA;
	}
	#content {
		margin-left: 180px;
		margin-right: 165px;
		padding-left: 9px;
		padding-right: 9px;
	}
	#sidebar {
		display: block;
		float: left;
		width: 173px;
		margin-left: -100%;
		margin-bottom: 20px;
		font-family: Verdana, sans-serif;
		font-size: 12px;
		position: relative;
		top: 7px;
	}
	#sidebar > ul {
		border: 1px solid #DAEAAA;
	}
	#extra {
		display: block;
		float: left;
		width: 160px;
		margin-left: -160px;
		margin-bottom: 20px;
		position: relative;
		top: 7px;
	}
	#footer {
		clear: both;
		width: 100%;
		height: 70px;
		font-size: 12px;
		color: #8d8d8d;
		border-top: 1px solid #DAEAAA;
		position: relative;
		top: 7px;
		padding-top: 5px;
	}
	ul#nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		position: relative;
		top: 9px;
		left: 17px;
	}
	ul#nav > li {
		float: left;
		padding: 0 17px 0 8px;
		background: url('../images/bull_circle.gif') no-repeat 0 50%;
	}
	ul#nav > li > a {
		text-decoration: none;
		color: #FFF;
	}
	ul#nav > li > a:hover {
		text-decoration: underline;
		background: none;
		color: #FFF;
	}
	#sidebar > h1 {
		margin: 0;
		padding: 14px;
		background: #92B91C;
		color: #FFF;
		font-size: 16px;
	}
	#sidebar > ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#sidebar > ul > li.sub-heading {
		display: block;
		padding: 6px 10px 6px 10px;
		color: #64615D;
		background: #DAEAAA;
		text-decoration: none;
		font-weight: bold;
	}
	#sidebar > ul > li > a:hover {
		background-color: #EDFEBA;
		color: #64615D;
	}
	#sidebar > ul > li > a {
		display: block;
		color: #64615D;
		padding: 5px 3px 4px 17px;
		text-decoration: none;
		border-bottom: 1px solid #FFF;
		font-weight: normal;
		background: #FFF url('../images/circle.gif') no-repeat 5% 50%;
	}
	#searchcontainer {
		float: right;
		width: 30%;
	}
	.addthis_javaschool {
		display: block;
		float: right;
		height: 20px;
	}
	#footer-ad {
		display: block;
		padding-top: 7px;
	}
	#mobile-menu-converter {
		display: none;
	}
	#mobile-menu {
		display: none;
	}
	#java-school-ci {
		border: none;
	}
}
