<!DOCTYPE html>
<html th:replace="~{layout/baseLayoutFile :: layout(~{::title}, ~{::meta}, ~{::link}, ~{::script}, ~{::section}, ~{::article}, ~{::aside})}" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:replace="${#locale.country == 'KR'} ? ~{articles/JDK-Install :: title} : ~{articles/JDK-Install_en :: title}">Java Install</title>
<meta name="Keywords" th:replace="${#locale.country == 'KR'} ? ~{articles/JDK-Install :: /meta[@name='Keywords']} : ~{articles/JDK-Install_en :: /meta[@name='Keywords']}" />
<meta name="Description" th:replace="${#locale.country == 'KR'} ? ~{articles/JDK-Install :: /meta[@name='Description']} : ~{articles/JDK-Install_en :: /meta[@name='Description']}" />
<link rel="stylesheet" th:href="${#locale.country == 'KR'} ? '/static/css/korean.css' : '/static/css/english.css'" type="text/css" />
<link rel="stylesheet" th:href="@{/static/css/prettify.css}" type="text/css" />
<link rel="stylesheet" th:href="@{/static/css/windows.css}" type="text/css" />
<script th:src="@{/static/js/jquery.js}"></script>
<script th:src="@{/static/js/commons.js}"></script>
<script th:src="@{/static/js/prettify.js}"></script>
<script>
$(document).ready(function () {
	prettyPrint();
	$('pre.prettyprint').html(function () {
	    return this.innerHTML.replace(/\t/g, '&nbsp;&nbsp;&nbsp;&nbsp;');
	});
	$('pre.prettyprint').dblclick(function () {
	    selectRange(this);
	});
});
</script>
</head>
<body>
<!-- article -->
<section th:replace="${#locale.country == 'KR'} ? ~{articles/JDK-Install :: article} : ~{articles/JDK-Install_en :: article}"></section>
<!-- next and prev -->
<article>
<div id="next-prev">
	<th:block th:switch="${#locale.country}">
		<ul th:case="'KR'">
			<li>다음 : <a href="/java/Features">자바의 특징</a></li>
		</ul>
		<ul th:case="*">
			<li>Next : <a href="/java/Features">Features</a></li>
		</ul>
	</th:block>
</div>
</article>
<!-- sub menu -->
<aside th:replace="${#locale.country == 'KR'} ? ~{java/menu :: index} : ~{java/menu_en :: index}"></aside>
</body>
</html>