<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>로그인</title>
		<meta name="Keywords" content="로그인" />
		<meta name="Description" content="로그인" />
	</head>
	<body>
	<article>
		<h1>로그인</h1>
		<div th:if="${param.error}">
			ID나 패스워드가 유효하지 않습니다.</div>
		<div th:if="${param.logout}">
			로그아웃되었습니다.</div>
		<form th:action="@{/login}" method="post">
			<div>
			<input type="text" name="username" placeholder="Username"/>
			</div>
			<div>
			<input type="password" name="password" placeholder="Password"/>
			</div>
			<input type="submit" value="로그인" />
		</form>
	</article>	
	</body>
</html>